.caption {
  color: #9c9c9c;
  font-size: 16px;
}

.icon,
.iconTwitter {
  margin-left: 15px;
}

.iconTwitter {
  color: #2caae1;
}

.a,
.a:hover {
  border-bottom: none;
  box-shadow: none;
  background-color: white;
}

.postImage {
  padding: 10px 0 30px 0;
}
