.caption {
  font-size: 14px;
}

.icon,
.iconTwitter {
  margin-left: 15px;
}

.iconTwitter {
  color: #2caae1;
  font-size: 24px;
}

.a,
.a:hover {
  border-bottom: none;
  box-shadow: none;
  background-color: white;
}

.mainImage {
  margin: 10px 0 20px 0;
  border: 1px solid rgb(245, 250, 249);
  background-color: white;
}

.mainImageCredits {
  font-size: 80%;
  line-height: 130%;
  color: #9c9c9c;
  margin: 5px 2px 5px 2px;
}
