.title {
  font-family: medium-content-sans-serif-font, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 150%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.description {
  padding-top: 25px;
}

.icon {
  display: inline;
  margin: 25px;
  font-size: 36px;
}

.iconTwitter {
  color: #2caae1;
}

.iconGithub {
  color: #171715;
}

.iconLinkedin {
  color: #0077b5;
}

.iconYoutube {
  color: #ff0000;
}

.a,
.a:hover {
  border-bottom: none;
  box-shadow: none;
  background-color: white;
}
