.title {
  font-family: medium-content-sans-serif-font, sans-serif;
  color: #21242b;
  font-weight: bold;
  font-size: 150%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
