.articleContainer {
  padding: 5px 5px 5px 5px;
}

.articleContainer:hover {
  background-color: rgb(245, 250, 249);
}

.articleContainer > a {
  font-weight: normal;
}

.metaInfo {
  background-color: transparent;
}

.date,
.timeToRead,
.icon {
  font-size: 80%;
  color: #9c9c9c;
}

.icon {
  margin-left: 15px;
}
