.fullHeader {
  background: #29bb9c;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.widthWrapper {
  margin: 0 auto;
  max-width: 1024px;
  height: 80px;
}

.mask {
  margin-left: 15px;
  background-color: rgb(47, 204, 170);
  width: 264px;
  height: 80px;
  -moz-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  transform: skewX(-10deg);
  position: absolute;
}

.a,
.a:hover {
  border-bottom: none;
  box-shadow: none;
  background-color: transparent;
}

.avatar {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 25px;
  margin-top: 15px;
}

.titleWrapper {
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

.title {
  font-size: 25px;
  margin-top: 14px;
}

.subtitle {
  font-size: 15px;
  margin-left: 2px;
}

/* effect-shine */

.titleWrapper:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.7) 50%,
    rgb(5, 6, 7) 20%,
    rgba(3, 3, 3, 0.7) 90%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    mask-position: 100%;
  }
  to {
    mask-position: -50%;
  }
}
