body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 300;
  font-size: 115%;
  line-height: 26px;
  margin: 0px;
}

h1 {
  line-height: 40px;
}

h2 {
  font-size: 125%;
  margin-bottom: 2px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid #97dbd9;
  box-shadow: inset 0 -2px 0px 0px #97dbd9;
  font-weight: bold;
}

a:hover {
  box-shadow: inset 0 0 0 1px #97dbd9;
  background-color: #97dbd9;
}

strong {
  font-size: 102%;
}

em {
  color: #757575;
}

li {
  margin: 10px 0;
}

blockquote {
  font-size: 115%;
  font-style: italic;
  background: #baeceb;
  border-left: 10px solid #2ba9a5;
  margin: 25px 10px;
  padding: 10px 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}
blockquote:before {
  color: #2ba9a5;
  content: open-quote;
  font-size: 250%;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.2em;
}
blockquote p {
  display: inline;
}
