body {
  color: #414754;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  line-height: 28px;
  margin: 0px;
}

@media (max-width: 640px) {
  body {
    font-size: 100%;
  }
}

h1 {
  font-size: 165%;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 2px;
}

h2 {
  font-size: 130%;
  margin-bottom: 2px;
  font-weight: bold;
}

h3 {
  font-size: 110%;
  text-transform: uppercase;
  font-weight: bold;
  color: #5f5f5f;
}

a {
  color: black;
  border-bottom: 1px solid #97dbd9;
  box-shadow: inset 0 -1px 0px 0px #97dbd9;
  font-weight: bold;
}

a:hover {
  box-shadow: inset 0 0 0 1px #97dbd9;
  background-color: #97dbd9;
  color: black;
}

strong {
  font-size: 102%;
}

ul {
  margin-top: 15px;
  padding-left: 20px;
}

li > ul {
  margin-top: -15px;
  padding-left: 18px;
}

blockquote {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  background: #baeceb;
  border-left: 5px solid #2ba9a5;
  margin: 25px 10px;
  padding: 10px 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
  color: #2ba9a5;
  content: open-quote;
  font-size: 250%;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.2em;
}

blockquote p {
  display: inline;
}

.content {
  margin: 3rem auto;
  max-width: 1024px;
  padding: 0 10px 0 10px;
}
